.app {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.app .center {
  width: 100vw;
  height: 100vh;
}

.app .center .cards {
  grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
  display: grid;
  justify-items: center;
}

.title {
  font-weight: 500;
}

.table {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table tr td {
  width: 88px;
}

.product {
  display: flex;
  justify-content: center;
}